<html lang="en-US" class="js"><head>
	<meta charset="UTF-8">
<meta name="description" content=""><meta name="description" content="The Open University and Uber partnership"><meta name="keywords" content=""><meta name="keywords" content="Uber, The open University, free learning, degrees, qualifications"><meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="pingback" href="https://skillshub.online/xmlrpc.php">

	<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<script>var et_site_url='https://skillshub.online';var et_post_id='50379';function et_core_page_resource_fallback(a,b){"undefined"===typeof b&&(b=a.sheet.cssRules&&0===a.sheet.cssRules.length);b&&(a.onerror=null,a.onload=null,a.href?a.href=et_site_url+"/?et_core_page_resource="+a.id+et_post_id:a.src&&(a.src=et_site_url+"/?et_core_page_resource="+a.id+et_post_id))}
</script><title>skillshub.online – skillshub.online</title>
<link rel="dns-prefetch" href="//www.google.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="skillshub.online » Feed" href="https://skillshub.online/feed/">
<link rel="alternate" type="application/rss+xml" title="skillshub.online » Comments Feed" href="https://skillshub.online/comments/feed/">
<!-- This site uses the Google Analytics by MonsterInsights plugin v7.10.1 - Using Analytics tracking - https://www.monsterinsights.com/ -->
<script type="text/javascript" data-cfasync="false">
	var mi_version         = '7.10.1';
	var mi_track_user      = true;
	var mi_no_track_reason = '';
	
	var disableStr = 'ga-disable-UA-149267967-1';

	/* Function to detect opted out users */
	function __gaTrackerIsOptedOut() {
		return document.cookie.indexOf(disableStr + '=true') > -1;
	}

	/* Disable tracking if the opt-out cookie exists. */
	if ( __gaTrackerIsOptedOut() ) {
		window[disableStr] = true;
	}

	/* Opt-out function */
	function __gaTrackerOptout() {
	  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
	  window[disableStr] = true;
	}
	
	if ( mi_track_user ) {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

		__gaTracker('create', 'UA-149267967-1', 'auto');
		__gaTracker('set', 'forceSSL', true);
		__gaTracker('require', 'displayfeatures');
		__gaTracker('send','pageview');
	} else {
		console.log( "" );
		(function() {
			/* https://developers.google.com/analytics/devguides/collection/analyticsjs/ */
			var noopfn = function() {
				return null;
			};
			var noopnullfn = function() {
				return null;
			};
			var Tracker = function() {
				return null;
			};
			var p = Tracker.prototype;
			p.get = noopfn;
			p.set = noopfn;
			p.send = noopfn;
			var __gaTracker = function() {
				var len = arguments.length;
				if ( len === 0 ) {
					return;
				}
				var f = arguments[len-1];
				if ( typeof f !== 'object' || f === null || typeof f.hitCallback !== 'function' ) {
					console.log( 'Not running function __gaTracker(' + arguments[0] + " ....) because you are not being tracked. " + mi_no_track_reason );
					return;
				}
				try {
					f.hitCallback();
				} catch (ex) {

				}
			};
			__gaTracker.create = function() {
				return new Tracker();
			};
			__gaTracker.getByName = noopnullfn;
			__gaTracker.getAll = function() {
				return [];
			};
			__gaTracker.remove = noopfn;
			window['__gaTracker'] = __gaTracker;
					})();
		}
</script>
<!-- / Google Analytics by MonsterInsights -->
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/skillshub.online\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="https://skillshub.online/wp-includes/js/wp-emoji-release.min.js?ver=5.3" type="text/javascript" defer=""></script>
		<meta content="Uber and OU v.1.0" name="generator"><style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel="stylesheet" id="wp-block-library-css" href="https://skillshub.online/wp-includes/css/dist/block-library/style.min.css?ver=5.3" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="https://skillshub.online/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.6" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-css" href="https://skillshub.online/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-public.css?ver=1.8.2" type="text/css" media="all">
<link rel="stylesheet" id="cookie-law-info-gdpr-css" href="https://skillshub.online/wp-content/plugins/cookie-law-info/public/css/cookie-law-info-gdpr.css?ver=1.8.2" type="text/css" media="all">
<link rel="stylesheet" id="et_monarch-css-css" href="https://skillshub.online/wp-content/plugins/monarch/css/style.css?ver=1.4.12" type="text/css" media="all">
<link rel="stylesheet" id="et-gf-open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" media="all">
<link rel="stylesheet" id="parent-style-css" href="https://skillshub.online/wp-content/themes/Divi/style.css?ver=5.3" type="text/css" media="all">
<link rel="stylesheet" id="divi-style-css" href="https://skillshub.online/wp-content/themes/Your-Generated-Divi-child-theme-template-by-DiviCake/style.css?ver=4.0.6" type="text/css" media="all">
<link rel="stylesheet" id="cf7-styler-styles-css" href="https://skillshub.online/wp-content/plugins/cf7-styler-for-divi/styles/style.min.css?ver=1.0.0" type="text/css" media="all">
<link rel="stylesheet" id="et-builder-googlefonts-cached-css" href="https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.3#038;subset=latin,latin-ext" type="text/css" media="all">
<link rel="stylesheet" id="ds-pbe-fb-css" href="https://skillshub.online/wp-content/plugins/ds-page-builder-everywhere/pbe-li.css?ver=5.3" type="text/css" media="all">
<link rel="stylesheet" id="dashicons-css" href="https://skillshub.online/wp-includes/css/dashicons.min.css?ver=5.3" type="text/css" media="all">
<link rel="stylesheet" id="cf7cf-style-css" href="https://skillshub.online/wp-content/plugins/cf7-conditional-fields/style.css?ver=1.7.8" type="text/css" media="all">
<link rel="stylesheet" id="divi-ultimate-header-plugin-main-css-css" href="https://skillshub.online/wp-content/plugins/Divi-Ultimate-Header-Plugin/css/main.css?ver=3.0.0.9" type="text/css" media="all">
<script type="text/javascript">
/* <![CDATA[ */
var monsterinsights_frontend = {"js_events_tracking":"true","download_extensions":"doc,pdf,ppt,zip,xls,docx,pptx,xlsx","inbound_paths":"[{\"path\":\"\\\/go\\\/\",\"label\":\"affiliate\"},{\"path\":\"\\\/recommend\\\/\",\"label\":\"affiliate\"}]","home_url":"https:\/\/skillshub.online","hash_tracking":"false"};
/* ]]> */
</script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/google-analytics-for-wordpress/assets/js/frontend.min.js?ver=7.10.1"></script>
<script type="text/javascript" src="https://skillshub.online/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
<script type="text/javascript" src="https://skillshub.online/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var Cli_Data = {"nn_cookie_ids":[],"cookielist":[]};
var log_object = {"ajax_url":"https:\/\/skillshub.online\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/cookie-law-info/public/js/cookie-law-info-public.js?ver=1.8.2"></script>
<script type="text/javascript" src="https://skillshub.online/wp-content/themes/Your-Generated-Divi-child-theme-template-by-DiviCake/custom.js?ver=5.3"></script>
<link rel="https://api.w.org/" href="https://skillshub.online/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://skillshub.online/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://skillshub.online/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 5.3">
<link rel="canonical" href="https://skillshub.online/">
<link rel="shortlink" href="https://skillshub.online/">
<link rel="alternate" type="application/json+oembed" href="https://skillshub.online/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fskillshub.online%2F">
<link rel="alternate" type="text/xml+oembed" href="https://skillshub.online/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fskillshub.online%2F&amp;format=xml">
<style>.nav li.et-hover > ul,
.menu li.et-hover > ul {
	visibility: visible !important;
	opacity: 1 !important; }
.da11y-submenu-show {
	visibility: visible !important;
}
.keyboard-outline {
		outline: #5ceff9 solid 2px;
	-webkit-transition: none !important;
	transition: none !important;
}
button:active.keyboard-outline,
button:focus.keyboard-outline,
input:active.keyboard-outline,
input:focus.keyboard-outline,
a[role="tab"].keyboard-outline {
	outline-offset: -5px;
}
.et-search-form input:focus.keyboard-outline {
	padding-left: 15px;
	padding-right: 15px;
}
.et_pb_tab {
	-webkit-animation: none !important;
	animation: none !important;
}
.et_pb_contact_form_label,
.widget_search .screen-reader-text,
.et_pb_search .screen-reader-text {
	display: block !important; }
.da11y-screen-reader-text,
.et_pb_contact_form_label,
.widget_search .screen-reader-text,
.et_pb_search .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	line-height: normal;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 1em;
	font-weight: 600;
	-webkit-font-smoothing: subpixel-antialiased;
}
.da11y-screen-reader-text:focus {
	background: #f1f1f1;
	color: #00547A;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	display: block;
	height: auto;
	left: 5px;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 7px;
	width: auto;
	z-index: 1000000; }
</style><meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<style type="text/css"> 		body.free-vertical-navigation-body-tag .free-hamburger-icon .mobile_menu_bar:before { color: #e51b23; }
		.free-vertical-navigation-background-overlay { background-color: rgba(255,255,255,0.85); }
		.free-vertical-navigation, .free-vertical-navigation-wrapper { max-width: 805px!important; width: 100%!important; }
		.free-vertical-navigation .fullwidth-menu-nav>ul>li>ul.sub-menu { left: 805px; }
		.free-vertical-navigation .fullwidth-menu-nav>ul>li.et-reverse-direction-nav>ul.sub-menu { left: auto; right: 805px; }
		
		.free-vertical-navigation-menu-hover-1 .free-vertical-navigation nav>ul>li>a:before,
			.free-vertical-navigation-menu-hover-2 .free-vertical-navigation nav>ul>li>a:before,
				.free-vertical-navigation-menu-hover-3 .free-vertical-navigation nav>ul>li:hover>a,
					.free-vertical-navigation-menu-hover-4 .free-vertical-navigation nav>ul>li>a:before {
			background-color: #e51b23!important;
		}
		body.free-vertical-navigation-custom-menu-hover .free-vertical-navigation nav>ul>li:hover>a {
			color: #ffffff!important;
		}
		
		@media screen and (min-width: 981px) {
			html.et-fb-root-ancestor:not(.et-fb-preview--wireframe) .free-vertical-navigation {
				margin-left: -805px!important;
			}
			html.et-fb-root-ancestor:not(.et-fb-preview--wireframe) body.free-vertical-navigation-body-tag.et-db.et-bfb>article #page-container-bfb .et-fb-post-content,
				html.et-fb-root-ancestor:not(.et-fb-preview--wireframe) body.free-vertical-navigation-body-tag .et-fb-post-content {
				margin-left: 805px!important;
			}
			html.et-fb-root-ancestor:not(.et-fb-preview--wireframe) body.free-vertical-navigation-body-tag.et-db.et-bfb>article #page-container-bfb .et-fb-post-content .free-vertical-navigation {
				position: relative!important;
				float: left !important;
			}
		}
		
				
			@media screen and (min-width: 1140px) {
				html.et-fb-root-ancestor:not(.et-fb-preview--wireframe) .free-vertical-navigation-breakpoint-show {
					opacity: 0.5!important;
				}
				html:not(.et-fb-root-ancestor) .free-vertical-navigation {
					position: fixed!important;
					left: 0;
				}
				html:not(.et-fb-root-ancestor) .free-vertical-navigation-wrapper .free-vertical-navigation {
					position: relative!important;
				}
				html:not(.et-fb-root-ancestor):not(.et-fb-preview--wireframe) body.free-vertical-navigation-body-tag #et-main-area,
					body.free-vertical-navigation-body-tag .free-du-plugin-header {
					margin-left: 805px!important;
				}
				html:not(.et-fb-root-ancestor) .free-vertical-navigation-breakpoint-show {
					display: none!important;
				}
				.free-vertical-navigation-background-overlay {
					display: none!important;
				}
				.free-vertical-navigation-wrapper:not(.free-menu-collapsible-wrapper) {
					box-shadow: none!important;
				}
			}
			@media screen and (max-width: 1139px) {
				html.et-fb-root-ancestor:not(.et-fb-preview--wireframe) .free-vertical-navigation-breakpoint-hide,
					html.et-fb-root-ancestor:not(.et-fb-preview--wireframe) .free-vertical-navigation {
					opacity: 0.5!important;
				}
				html:not(.et-fb-root-ancestor) .free-vertical-navigation {
					transform: translateX(-100%);
				}
				html:not(.et-fb-root-ancestor) .free-vertical-navigation-wrapper .free-vertical-navigation {
					transform: translateX(0%);
				}
				body:not(.free-vertical-navigation-overlay-show) .free-vertical-navigation-wrapper {
					box-shadow: none!important;
				}
			}
			
				
			@media screen and (max-width: 1139px) {
		
						html:not(.et-fb-root-ancestor) .free-vertical-navigation-breakpoint-hide {
					display: none!important;
				}
				body.free-vertical-navigation-overlay-left .free-vertical-navigation-wrapper {
					transform: translateX(-100%);
					transition: all 0.5s ease;
				}
				body.free-vertical-navigation-overlay-right .free-vertical-navigation-wrapper {
					transform: translateX(100%);
					left: auto;
					right: 0;
					transition: all 0.5s ease;
				}
		
				
			}
			
								.free-menu-hover-2 .free-header-menu nav>ul>li:before { background-color: #068293!important; }
											.free-menu-hover-2 .free-header-menu nav>ul>li:hover>a,
							.free-menu-hover-2.et-db #et-boc .free-header-menu nav>ul>li:hover>a { color: #ffffff!important; opacity: 1!important; }
						</style>     <style>


    </style>

<style type="text/css">

/** PBE CSS **/
.page-template-page-template-blank.pbe-above-header #pbe-above-header-wa-wrap,
.page-template-page-template-blank.pbe-below-header #pbe-below-header-wa-wrap,
.page-template-page-template-blank.pbe-footer #pbe-footer-wa-wrap {
    display:none !important;
}
#pbe-above-content-wa-wrap .et_pb_widget {
    display: block;
    width: 100%;
    position: relative;
    /*margin-top: -15px;*/
    margin-bottom: 50px;
}

#pbe-above-content-wa-wrap .et_pb_section {
    z-index: 99;
}

#pbe-below-content-wa-wrap .et_pb_widget {
    display: block;
    width: 100%;
    position: relative;
    /*margin-top: -15px;*/
}

#pbe-below-content-wa-wrap .et_pb_section {
    z-index: 99;
}

#main-header .et_pb_widget, #content-area .et_pb_widget {
    width: 100%;
}

#main-header .et_pb_widget p {
    padding-bottom: 0;
}

#pbe-above-header-wa .widget-conditional-inner {
    background: #fff;
    padding: 0;
    border: none;
}

#pbe-above-header-wa select {
    background: #f1f1f1;
    box-shadow: none;
    border-radius: 3px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#pbe-above-header-wa .et_pb_widget
{
    float:none;
}

#pbe-footer-wa-wrap .et_pb_widget {
    width: 100%;
    display: block;
}

.page-container form input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    background: #f1f1f1;
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    font-weight: 700;
}

.page-container form p {
    font-size: 14px;
}

.page-container form {
    padding: 10px 20px;
}

#pbe-footer-wa-wrap {
    position: relative;
    /*top: -15px;*/
}

#pbe-above-header-wa-wrap,
#pbe-below-header-wa-wrap,
#pbe-above-content-wa-wrap,
#pbe-below-content-wa-wrap,
#pbe-footer-wa-wrap {
	position: relative;
	z-index: 9;
}
/* Fixes issues with overlapping widget areas */
.pbe-above-header #main-header .container,
.pbe-below-content #main-content article,
.pbe-footer #main-footer { 
 	clear: both;
 }
 .pbe-below-content #main-content {
    float: left;
    display: block;
    width: 100%;
}
.pbe-below-content #main-footer {
    float: left;
    width: 100%;
}
</style>
    <style type="text/css" id="et-social-custom-css">
				
			</style>		<script type="text/javascript">
			var cli_flush_cache=2;
		</script>
		<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>
	<script>
jQuery(function($){
    $('.et_pb_accordion .et_pb_toggle_open').addClass('et_pb_toggle_close').removeClass('et_pb_toggle_open');
    $('.et_pb_accordion .et_pb_toggle').click(function() {     
      $this = $(this);
      setTimeout(function(){
      $this.closest('.et_pb_accordion').removeClass('et_pb_accordion_toggling');
},700);
    });
});
</script>

<script>
jQuery(function($){
 $('.et_pb_toggle_title').click(function(){
  var $toggle = $(this).closest('.et_pb_toggle');
  if (!$toggle.hasClass('et_pb_accordion_toggling')) {
   var $accordion = $toggle.closest('.et_pb_accordion');
   if ($toggle.hasClass('et_pb_toggle_open')) {
    $accordion.addClass('et_pb_accordion_toggling');
    $toggle.find('.et_pb_toggle_content').slideToggle(700, function() { 
     $toggle.removeClass('et_pb_toggle_open').addClass('et_pb_toggle_close');
    });
   }
   setTimeout(function(){ 
    $accordion.removeClass('et_pb_accordion_toggling'); 
   }, 750);
  }
 });
});
</script><link rel="icon" href="https://skillshub.online/wp-content/uploads/2019/09/cropped-UberOU_Site-Identity-32x32.png" sizes="32x32">
<link rel="icon" href="https://skillshub.online/wp-content/uploads/2019/09/cropped-UberOU_Site-Identity-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="https://skillshub.online/wp-content/uploads/2019/09/cropped-UberOU_Site-Identity-180x180.png">
<meta name="msapplication-TileImage" content="https://skillshub.online/wp-content/uploads/2019/09/cropped-UberOU_Site-Identity-270x270.png">
<link rel="stylesheet" id="et-core-unified-50379-cached-inline-styles" href="https://skillshub.online/wp-content/et-cache/50379/et-core-unified-50379-15752988242389.min.css" onerror="et_core_page_resource_fallback(this, true)" onload="et_core_page_resource_fallback(this)"><style>[data-columns]::before{visibility:hidden;position:absolute;font-size:1px;}</style><style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></head>
<body class="home page-template-default page page-id-50379 custom-background free-menu-hover-2 free-mega-menu free-vertical-navigation-overlay-right et_monarch et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css chrome"><a href="#main-content" class="skip-link da11y-screen-reader-text">Skip to content</a>
	<div id="page-container" class="et-animated-content" style="padding-top: 105px; margin-top: 9px;">

	
	
			<header id="main-header" data-height-onload="94" data-height-loaded="true" data-fixed-height-onload="0" class="et-fixed-header" style="top: 0px;"><div id="pbe-above-header-wa-wrap">
            </div>
			<div class="container clearfix et_menu_container">
							<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="https://skillshub.online/">
						<img src="https://skillshub.online/wp-content/uploads/2019/09/OU_Uber_NewLogo_footer.png" alt="skillshub.online" id="logo" data-height-percentage="70" data-actual-width="322" data-actual-height="95">
					</a>
				</div>
							<div id="et-top-navigation" data-height="80" data-fixed-height="90" style="padding-left: 253px;">
											<nav id="top-menu-nav">
						<ul id="top-menu" class="nav"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-50379 current_page_item menu-item-50492"><a href="https://skillshub.online/" aria-current="page">OU and Uber Partnership</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51792"><a href="https://skillshub.online/check-eligibility-launch/">Check your eligibility</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50490"><a href="https://skillshub.online/study-at-the-open-university/">Study at The OU</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51023"><a href="https://skillshub.online/ou-free-courses-on-openlearn/">OpenLearn</a></li>
</ul>						</nav>
					
					
					
					
					<div id="et_mobile_nav_menu">
				<div class="mobile_nav closed">
					<span class="select_page">Select Page</span>
					<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
				<ul id="mobile_menu" class="et_mobile_menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-50379 current_page_item menu-item-50492 et_first_mobile_item"><a href="https://skillshub.online/" aria-current="page">OU and Uber Partnership</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51792"><a href="https://skillshub.online/check-eligibility-launch/">Check your eligibility</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50490"><a href="https://skillshub.online/study-at-the-open-university/">Study at The OU</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51023"><a href="https://skillshub.online/ou-free-courses-on-openlearn/">OpenLearn</a></li>
</ul></div>
			</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="https://skillshub.online/">
					<label class="da11y-screen-reader-text" for="et_pb_search_module_input_0">Search for...</label><input type="search" class="et-search-field" placeholder="Search …" value="" name="s" title="Search for:" id="et_pb_search_module_input_0"><button type="submit" class="da11y-screen-reader-text">Search</button>					</form>
					<span class="et_close_search_field" aria-hidden="true"></span>
				</div>
			</div>
		<div id="pbe-below-header-wa-wrap">
            </div></header> <!-- #main-header -->
			<div id="et-main-area">
	
<div id="main-content" tabindex="-1" role="main"><div id="pbe-above-content-wa-wrap">
            </div>


			
				<article id="post-50379" class="post-50379 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div id="et-boc" class="et-boc">
			
		<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters3">
		<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">
				
				
				<div class="et_pb_text_inner"><h1>The Open University and Uber</h1>
<h2>Driven by opportunity</h2></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;">Uber and The Open University are partnering to help <strong>drivers</strong> or a <strong>family member</strong>&nbsp;reach their goals on and off the road.</h2></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;"><span>To register for the OU, please check your eligibility here. <strong>Please don’t register on the OU website</strong>.</span></h2></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_button_alignment_tablet_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_light" href="https://skillshub.online/check-eligibility-launch/" data-icon="$">Check your eligibility</a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2><span class="custom_h2">Flexible work, flexible education</span></h2>
<p>The Open University and Uber partnership will allow you or a family member to take a fully funded undergraduate degree-level course, or other short courses. Just as Uber allows you to work to their own timetable, The Open University offers courses that can be completed flexibly. It’s perfect for people looking to find new opportunities in between other commitments.</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_Home_section1.jpg" alt=" " title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/UberOU_Home_section1.jpg 540w, https://skillshub.online/wp-content/uploads/2019/09/UberOU_Home_section1-480x311.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 540px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_4">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_1">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_Home_section2.jpg" alt=" " title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/UberOU_Home_section2.jpg 540w, https://skillshub.online/wp-content/uploads/2019/09/UberOU_Home_section2-480x311.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 540px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2><span class="custom_h2">We support the ambitions of drivers or their families</span></h2>
<p>This partnership provides you or a family member the opportunity to access a high-quality education to help you get ahead in life.</p>
<p>Being able to work and learn flexibly is an essential part of unlocking economic opportunity. The Open University specialises in online flexible courses, allowing people balance their studies around their other commitments of work and family.</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_5 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_5 et_pb_bg_layout_light  et_pb_text_align_left et_pb_text_align_center-tablet">
				
				
				<div class="et_pb_text_inner"><h2>Are you eligible?</h2></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_6 et_pb_gutters4">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_2">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUicon_UberStatus_Turq.png" alt=" " title="" srcset="" sizes="(max-width: 90px) 100vw, 90px"></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_6 et_pb_bg_layout_light  et_pb_text_align_left et_pb_text_align_center-tablet">
				
				
				<div class="et_pb_text_inner"><h3>Uber Pro status</h3>
<p>Access to The Open University comes as a benefit to you in the Uber Pro customer loyalty program. If you are enrolled in the Uber Pro program, and have Gold, Platinum or Diamond status, then this benefit is available to you. <a href="https://www.uber.com/gb/en/drive/uber-pro/" target="_blank" rel="noopener noreferrer">Learn more here</a>.</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_3">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUicon_UberTrips_Turq.png" alt=" " title="" srcset="" sizes="(max-width: 90px) 100vw, 90px"></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_7 et_pb_bg_layout_light  et_pb_text_align_left et_pb_text_align_center-tablet">
				
				
				<div class="et_pb_text_inner"><h3>Lifetime Trips</h3>
<p>You must have completed 1,000 lifetime trips on the Uber platform.</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_4">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUicon_UberFamily_Turq.png" alt=" " title="" srcset="" sizes="(max-width: 90px) 100vw, 90px"></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_8 et_pb_bg_layout_light  et_pb_text_align_left et_pb_text_align_center-tablet">
				
				
				<div class="et_pb_text_inner"><h3>A Family Member</h3>
<p>You have the option to transfer this reward to one eligible family member.</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_7 et_pb_equal_columns et_pb_gutters1">
				<div class="et_pb_column et_pb_column_3_5 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_9 et_pb_bg_layout_light  et_pb_text_align_left et_pb_text_align_center-tablet">
				
				
				<div class="et_pb_text_inner"><h2><span>Drivers or eligible family members</span> now have access to flexible education with 100% tuition coverage</h2></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_tablet_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_1 et_pb_bg_layout_light" href="https://skillshub.online/check-eligibility-launch/" data-icon="$">Check your eligibility</a>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_2_5 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_5">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUiocn_Car.png" alt=" " title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUiocn_Car.png 320w, https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUiocn_Car-300x244.png 300w" sizes="(max-width: 320px) 100vw, 320px"></span>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_7 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_8">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_6">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_Famil_photo.jpg" alt=" " title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/UberOU_Famil_photo.jpg 540w, https://skillshub.online/wp-content/uploads/2019/09/UberOU_Famil_photo-480x636.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 540px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2><span class="custom_h2">Opportunity built around your schedule</span></h2>
<p dir="ltr"><span>Uber is offering you a way to take classes towards an undergraduate degree or learn new skills through The Open University’s OpenLearn platform, by providing 100% tuition coverage.*</span></p>
<p dir="ltr"><span>Open University courses are delivered online and are designed to be flexible around your schedule, so you can choose to study when and where you like.&nbsp;</span></p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_11 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2><span class="custom_h2">Pay it forward</span></h2>
<p dir="ltr"><span>We know how your family is important to you, and we want to provide your family members with access to the same opportunities.</span></p>
<p dir="ltr"><span>You can choose to transfer this offer of access to high-quality education to one family member.</span></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_9">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_accordion et_pb_accordion_0">
				
				
				<div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_0  et_pb_toggle_close" tabindex="0">
				
				
				<h5 class="et_pb_toggle_title">*Further details on this offer</h5>
				<div class="et_pb_toggle_content clearfix">
					* Drivers who have achieved Gold, Platinum or Diamond status through the Uber Pro program in the United Kingdom, and have completed 1,000 or more trips on the Uber platform are eligible to receive full tuition coverage for online courses at The Open University (OU). Drivers remain eligible for this reward for as long as they maintain Gold, Platinum or Diamond status at the time of application. Eligible drivers have the option to transfer this reward to an eligible family member, including a spouse or domestic partner, child or dependent, sibling, or parent or legal guardian. Drivers or one of their family members can register for one module or one short course at a time. When they have completed the module or short course, they can can register for another one. Uber will once again cover the full tuition cost if the driver or their family member is eligible at the time of registration.
				</div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle -->
			</div> <!-- .et_pb_accordion -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_10">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_12 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2><span class="custom_h2">Studying with The Open University</span></h2>
<p>Online learning might be different to how you’ve studied in the past, but there will be similarities, too. With OU distance learning, you’ll have study materials, an online study portal, a dedicated tutor, student forums, learning events and more.</p>
<p>If you are eligible, take a look at what the OU can offer you. Choose from hundreds of qualifications and modules.</p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_2_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_2 et_pb_bg_layout_light" href="https://skillshub.online/ou_study-at-the-ou/" data-icon="$">Find out more about the OU</a>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_7">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUStudy_photo.jpg" alt=" " title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUStudy_photo.jpg 540w, https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUStudy_photo-480x311.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 540px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_9 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_11 et_pb_equal_columns et_pb_gutters1">
				<div class="et_pb_column et_pb_column_3_5 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_13 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2><span>Drivers or eligible family members</span> now have access to flexible education with 100% tuition coverage</h2></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_tablet_center et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_3 et_pb_bg_layout_light" href="https://skillshub.online/check-eligibility-launch/" data-icon="$">Check your eligibility</a>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_2_5 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_8">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUicon_Study.png" alt=" " title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUicon_Study.png 320w, https://skillshub.online/wp-content/uploads/2019/09/UberOU_OUicon_Study-300x244.png 300w" sizes="(max-width: 320px) 100vw, 320px"></span>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_10 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_12">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_9">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OpenLearn_photo.jpg" alt=" " title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/UberOU_OpenLearn_photo.jpg 540w, https://skillshub.online/wp-content/uploads/2019/09/UberOU_OpenLearn_photo-480x311.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 540px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_21  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_14 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2><span class="custom_h2">Free courses for all</span></h2>
<p>There are nearly 1000 courses on OpenLearn, all of which are currently free to study. Courses have been proven to increase confidence and develop the skills needed to enter Higher Education and succeed with learning.</p>
<p>You can choose an OpenLearn course from a wide range of subjects. Some are based on Open University course materials. Others are written specifically for OpenLearn.</p></div>
			</div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_4_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_custom_button_icon et_pb_button_4 et_pb_bg_layout_light" href="https://skillshub.online/ou-free-courses-on-openlearn/" data-icon="$">OpenLearn free courses</a>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_13">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_22  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_15 et_pb_bg_layout_light  et_pb_text_align_left">
				
				
				<div class="et_pb_text_inner"><h2>Your questions answered</h2></div>
			</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_accordion et_pb_accordion_1">
				
				
				<div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_1  et_pb_toggle_close" tabindex="0">
				
				
				<h5 class="et_pb_toggle_title">Who is eligible for 100% tuition coverage?</h5>
				<div class="et_pb_toggle_content clearfix">
					Uber Partner-Drivers who have achieved Gold, Platinum or Diamond status through the Uber Pro program in the UK, and have completed 1,000 or more lifetime trips are eligible to receive full tuition coverage for online courses at The Open University. Qualifying drivers have the option to transfer this reward to an eligible family member, including a spouse or domestic partner, child or dependent, sibling, or parent or legal guardian.
				</div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_2  et_pb_toggle_close" tabindex="0">
				
				
				<h5 class="et_pb_toggle_title">Is my family member eligible?</h5>
				<div class="et_pb_toggle_content clearfix">
					To help the people you care about most pursue their dreams, qualified drivers can transfer the reward to a family member. You and your family will not have to pay any tuition cost for that family member. Family members include:<p></p>
<p>&nbsp;</p>
<ul>
<li>Spouse or domestic partner</li>
<li>Child</li>
<li>Sibling</li>
<li>Dependent</li>
<li>Parent or legal guardian</li>
</ul>
				</div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_3  et_pb_toggle_close" tabindex="0">
				
				
				<h5 class="et_pb_toggle_title">Can I nominate more than one family member? </h5>
				<div class="et_pb_toggle_content clearfix">
					No, only one family member is allowed to be nominated by a partner-driver.
				</div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_4  et_pb_toggle_close" tabindex="0">
				
				
				<h5 class="et_pb_toggle_title">How does tuition coverage work?</h5>
				<div class="et_pb_toggle_content clearfix">
					This is not a student loan or a reimbursement; your tuition is fully covered, upfront, by Uber.<p></p>
<p>Qualified drivers or their family member must be eligible at the time of application for a module.</p>
<p>An Eligible driver or a family member can register for one module or one short course at a time. When they have completed the module or short course, they can register for another one. Uber will once again cover the full tuition cost if the driver or a family member is eligible at the time of registration.</p>
<p>Qualified drivers or their eligible family members are responsible for paying for any additional costs they might incur.
				</p></div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle --><div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_5  et_pb_toggle_close" tabindex="0">
				
				
				<h5 class="et_pb_toggle_title">What happens if I lose my Uber Pro status?</h5>
				<div class="et_pb_toggle_content clearfix">
					If a partner driver loses their Uber Pro Gold, Platinum, Diamond status during the study, Uber will still cover the cost of the module. However, unless the driver regains their status before applying for a new module, s/he will not be eligible to register for a new free module or course.<p></p>
<p>The same applies to any nominated family members. If the driver that has nominated the family member loses their status, the family member will not be able to register for a new free module until the driver has regained their Uber Pro Gold, Platinum or Diamond status.
				</p></div> <!-- .et_pb_toggle_content -->
			</div> <!-- .et_pb_toggle -->
			</div> <!-- .et_pb_accordion -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_12 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_14 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_23  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_10">
				
				
				<span class="et_pb_image_wrap "><img src="https://skillshub.online/wp-content/uploads/2019/09/OU_Uber_NewLogo_footer.png" alt="The Open University and Uber partnership logo" title="" srcset="https://skillshub.online/wp-content/uploads/2019/09/OU_Uber_NewLogo_footer.png 322w, https://skillshub.online/wp-content/uploads/2019/09/OU_Uber_NewLogo_footer-300x89.png 300w" sizes="(max-width: 322px) 100vw, 322px"></span>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_with_border et_pb_module et_pb_sidebar_0 et_pb_widget_area et_pb_bg_layout_dark clearfix et_pb_widget_area_left et_pb_sidebar_no_border">
				
				
				<div id="nav_menu-2" class="et_pb_widget widget_nav_menu"><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-50379 current_page_item menu-item-50588"><a href="https://skillshub.online/" aria-current="page">Open University and Uber Partnership</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51852"><a href="https://skillshub.online/check-eligibility-launch/">Check your eligibility</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50587"><a href="https://skillshub.online/study-at-the-open-university/">Study at The Open University</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51022"><a href="https://skillshub.online/ou-free-courses-on-openlearn/">OpenLearn</a></li>
</ul></div></div> <!-- end .et_pb_widget -->
			</div> <!-- .et_pb_widget_area -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_cta_0 et_pb_promo et_pb_bg_layout_dark  et_pb_text_align_center">
				
				
				<div class="et_pb_promo_description">
					
					<div><h3></h3>
<p>Drivers or eligible family members now have access to flexible education with <strong>100% tuition coverage</strong></p></div>
				</div>
				<div class="et_pb_button_wrapper"><a class="et_pb_button et_pb_custom_button_icon et_pb_promo_button" href="https://skillshub.online/check-eligibility-launch/" data-icon="$">Check your eligibility</a></div>
			</div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_15">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_26  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_16">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_27  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_16 et_pb_bg_layout_light  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_text_align_left-phone">
				
				
				<div class="et_pb_text_inner"><p>© 2019 COPYRIGHT Uber and The Open University Partnership</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_28  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_17 et_pb_bg_layout_light  et_pb_text_align_right et_pb_text_align_center-tablet et_pb_text_align_left-phone">
				
				
				<div class="et_pb_text_inner"><p><a href="http://www.open.ac.uk/about/main/strategy-and-policies/policies-and-statements/website-privacy-ou" target="_blank" rel="noopener noreferrer"><span style="color: #ffffff;"></span><span style="color: #ffffff;"></span><span style="color: #ffffff;"></span><span style="color: #ffffff;"></span><span style="color: #ffffff;"></span><span style="color: #ffffff;"></span>Privacy Policy</a>&nbsp; &nbsp;|&nbsp; &nbsp;<a href="http://www.open.ac.uk/about/main/strategy-and-policies/policies-and-statements/conditions-use-open-university-websites" target="_blank" rel="noopener noreferrer">Terms of Use</a></p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_17">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_29  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_18 et_pb_bg_layout_light  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_text_align_left-phone">
				
				
				<div class="et_pb_text_inner"><p>Uber will also receive your course type and status of your registration and enrollment from Open University</p></div>
			</div> <!-- .et_pb_text -->
			</div> <!-- .et_pb_column -->
				
				
			</div> <!-- .et_pb_row -->
				
				
			</div> <!-- .et_pb_section -->		</div><!-- .et_builder_inner_content -->
	</div><!-- .et-l -->
	
			
		</div><!-- #et-boc -->
							</div> <!-- .entry-content -->

				
				</article> <!-- .et_pb_post -->

			

<div id="pbe-below-content-wa-wrap">
            </div></div> <!-- #main-content -->


			<div id="pbe-footer-wa-wrap">
            </div><footer id="main-footer">
				

		
				<div id="et-footer-nav">
					<div class="container">
						<ul id="menu-footer-menu-1" class="bottom-nav"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-50379 current_page_item menu-item-50588"><a href="https://skillshub.online/" aria-current="page">Open University and Uber Partnership</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51852"><a href="https://skillshub.online/check-eligibility-launch/">Check your eligibility</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50587"><a href="https://skillshub.online/study-at-the-open-university/">Study at The Open University</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51022"><a href="https://skillshub.online/ou-free-courses-on-openlearn/">OpenLearn</a></li>
</ul>					</div>
				</div> <!-- #et-footer-nav -->

			
				<div id="footer-bottom">
					<div class="container clearfix">
				<ul class="et-social-icons">

	<li class="et-social-icon et-social-facebook">
		<a href="#" class="icon">
			<span>Facebook</span>
		</a>
	</li>
	<li class="et-social-icon et-social-twitter">
		<a href="#" class="icon">
			<span>Twitter</span>
		</a>
	</li>
	<li class="et-social-icon et-social-google-plus">
		<a href="#" class="icon">
			<span>Google</span>
		</a>
	</li>
	<li class="et-social-icon et-social-instagram">
		<a href="#" class="icon">
			<span>Instagram</span>
		</a>
	</li>
	<li class="et-social-icon et-social-rss">
		<a href="https://skillshub.online/feed/" class="icon">
			<span>RSS</span>
		</a>
	</li>

</ul><p id="footer-info">Designed by <a href="http://www.elegantthemes.com" title="Premium WordPress Themes">Elegant Themes</a> | Powered by <a href="http://www.wordpress.org">WordPress</a></p>					</div>	<!-- .container -->
				</div>
			</footer> <!-- #main-footer -->
		</div> <!-- #et-main-area -->


	</div> <!-- #page-container -->

	
	<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {

			if($('.menu-item-has-children').find('a') ) {
				$('.menu-item-has-children').find('a').addClass('da11y-submenu');
				$('.menu-item-has-children').find('a').not('.sub-menu a').attr('aria-expanded', 'false');
			}

			$('.da11y-submenu').on('focus', function() {
				$(this).not('.sub-menu a').attr('aria-expanded', 'true');
				$(this).siblings('.sub-menu').addClass('da11y-submenu-show');
				$(this).trigger('mouseenter');
			});
			$('.menu-item-has-children a').on('focusout', function() {
				if($(this).parent().not('.menu-item-has-children').is(':last-child')) {
					$(this).parents('.menu-item-has-children').children('.da11y-submenu')
					.attr('aria-expanded', 'false').trigger('mouseleave')
					.siblings('.sub-menu').removeClass('da11y-submenu-show');
				}
			});

			/**
			 * Generate search form styles.
			 *
			 * @since Divi v3.0.23
			 */
			function et_set_search_form_css() {
				var search_container = $('.et_search_form_container');
				var body = $('body');

				if (search_container.hasClass('et_pb_search_visible')) {
					var header_height = $('#main-header').innerHeight();
					var menu_width = $('#top-menu').width();
					var font_size = $('#top-menu li a').css('font-size');

					search_container.css({ height: header_height + 'px' });
					search_container.find('input').css('font-size', font_size);

					if (!body.hasClass('et_header_style_left')) {
						search_container.css('max-width', menu_width + 60);
					} else {
						search_container.find('form').css('max-width', menu_width + 60);
					}
				}
			}

			/**
			 * Show the search.
			 *
			 * @since Divi v3.0.23
			 */
			function show_search() {
				var search_container = $('.et_search_form_container');

				if (search_container.hasClass('et_pb_is_animating')) {
					return;
				}

				$('.et_menu_container').removeClass('et_pb_menu_visible et_pb_no_animation').addClass('et_pb_menu_hidden');
				search_container.removeClass('et_pb_search_form_hidden et_pb_no_animation').addClass('et_pb_search_visible et_pb_is_animating');

				setTimeout(function () {
					$('.et_menu_container').addClass('et_pb_no_animation');
					search_container.addClass('et_pb_no_animation').removeClass('et_pb_is_animating');
				}, 1000);

				search_container.find('input').focus();

				et_set_search_form_css();
			}

			/**
			 * Hide the search.
			 *
			 * @since Divi v3.0.23
			 */
			function hide_search() {
				if ($('.et_search_form_container').hasClass('et_pb_is_animating')) {
					return;
				}

				$('.et_menu_container').removeClass('et_pb_menu_hidden et_pb_no_animation').addClass('et_pb_menu_visible');
				$('.et_search_form_container').removeClass('et_pb_search_visible et_pb_no_animation').addClass('et_pb_search_form_hidden et_pb_is_animating');

				setTimeout(function () {
					$('.et_menu_container').addClass('et_pb_no_animation');
					$('.et_search_form_container').addClass('et_pb_no_animation').removeClass('et_pb_is_animating');
				}, 1000);
			}

			$(this).keyup(function () {

				$('.et-search-field').focus(function () {
					show_search();
				}).blur(function () {
					hide_search();
				});
			});
		});
	})(jQuery);
	</script>


	<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {

			/**
			 * Add skiplink to page.
			 */
			function skipTo(target) {
				var skiplink = '<a href="' + target + '" class="skip-link da11y-screen-reader-text">Skip to content</a>';

				$(target).attr('tabindex', -1);

				$('body').prepend(skiplink);
			}
			skipTo('#main-content');

			/**
			 * Use js to focus for internal links.
			 */
			$('a[href^="#"]').click(function () {
				var content = $('#' + $(this).attr('href').slice(1));

				content.focus();
			});

		});
	})(jQuery);
	</script>


	<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {

			var lastKey = new Date();
			var lastClick = new Date();

			/**
			 * Only apply focus styles for keyboard usage.
			 */
			$(this).on('focusin', function (e) {
				$('.keyboard-outline').removeClass('keyboard-outline');

				var wasByKeyboard = lastClick < lastKey;

				if (wasByKeyboard) {
					$(e.target).addClass('keyboard-outline');
				}
			});
			$(this).on('mousedown', function () {
				lastClick = new Date();
			});
			$(this).on('keydown', function () {
				lastKey = new Date();
			});
		});
	})(jQuery);
	</script>


	<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {

			/**
			 * Allow Accordion & Toggle Divi modules to be focusable.
			 *
			 * @divi-module  Accordion, Toggle
			 */
			$('.et_pb_toggle').each(function () {
				$(this).attr('tabindex', 0);
			});

			/**
			 * Prevent spacebar from scolling page when toggle & accordion have focus.
			 *
			 * @divi-module  Accordion, Toggle
			 */
			$('.et_pb_toggle').on('keydown', function(e) {
				// Spacebar.
				if (e.which === 32){
					e.preventDefault();
				}
			});

			/**
			 * Expand Accordion & Toggle modules when enter or spacebar are pressed while focused.
			 *
			 * @divi-module  Accordion, Toggle
			 */
			$(document).on('keyup', function(e) {
				// Spacebar & Enter.
				if (e.which === 13 || e.which === 32) {
					$('.et_pb_toggle:focus .et_pb_toggle_title').trigger('click');
				}
			});
		});
	})(jQuery);
	</script>


	<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {

			/**
			 * Add unique ID to search module input with matching label.
			 *
			 * @divi-module  Search
			 */
			$('.et-search-field').each(function (e) {
				$(this).attr('id', 'et_pb_search_module_input_' + e);
				$('#et_pb_search_module_input_' + e).before('<label class="da11y-screen-reader-text" for="et_pb_search_module_input_' + e + '">Search for...</label>');
				$('#et_pb_search_module_input_' + e).after('<button type="submit" class="da11y-screen-reader-text">Search</button>');
			});

			/**
			 * Add unique ID to contact module input with matching label.
			 *
			 * @divi-module  Contact
			 */
			$('.et_pb_contact_form').each(function (e) {
				$(this).find('.et_pb_contact_captcha_question').parent().wrap('<label></label>');
			});
		});
	})(jQuery);
	</script>


	<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {

			/**
			 * Add role="tabList".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tabs_controls').each(function () {
				$(this).attr('role', 'tabList');
			});

			/**
			 * Add role="presentation".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tabs_controls li').each(function () {
				$(this).attr('role', 'presentation');
			});

			/**
			 * Add role="tab".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tabs_controls a').each(function () {
				$(this).attr('role', 'tab');
			});

			/**
			 * Add role="tabpanel".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tab').each(function () {
				$(this).attr('role', 'tabpanel');
			});

			/**
			 * Add initial state:
			 *
			 * aria-selected="false"
			 * aria-expanded="false"
			 * tabindex=-1
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tabs_controls li:not(.et_pb_tab_active) a').each(function () {
				$(this).attr('aria-selected', 'false');
				$(this).attr('aria-expanded', 'false');
				$(this).attr('tabindex', -1);
			});

			/**
			* Add initial state:
			*
			* aria-selected="true"
			* aria-expanded="true"
			* tabindex=-1
			*
			* @divi-module  Tab
			 */
			$('.et_pb_tabs_controls li.et_pb_tab_active a').each(function () {
				$(this).attr('aria-selected', 'true');
				$(this).attr('aria-expanded', 'true');
				$(this).attr('tabindex', 0);
			});

			/**
			 * Add unique ID to tab controls.
			 * Add aria-controls="x".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tabs_controls a').each(function (e) {
				$(this).attr('id', 'et_pb_tab_control_' + e);
				$(this).attr('aria-controls', 'et_pb_tab_panel_' + e);
			});

			/**
			 * Add unique ID to tab panels.
			 * Add aria-labelledby="x".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tab').each(function (e) {
				$(this).attr('id', 'et_pb_tab_panel_' + e);
				$(this).attr('aria-labelledby', 'et_pb_tab_control_' + e);
			});

			/**
			 * Set initial inactive tab panels to aria-hidden="false".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tab.et_pb_active_content').each(function () {
				$(this).attr('aria-hidden', 'false');
			});

			/**
			 * Set initial inactive tab panels to aria-hidden="true".
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tab:not(.et_pb_active_content)').each(function () {
				$(this).attr('aria-hidden', 'true');
			});

			/**
			 * Add unique ID to tab module.
			 * Need to use data attribute because a regular ID somehow interferes with Divi.
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tabs').each(function (e) {
				$(this).attr('data-da11y-id', 'et_pb_tab_module_' + e);
			});

			/**
			 * Update aria-selected attribute when tab is clicked or when hitting enter while focused.
			 *
			 * @divi-module  Tab
			 */
			$('.et_pb_tabs_controls a').on('click', function () {
				var id = $(this).attr('id');
				var namespace = $(this).closest('.et_pb_tabs').attr('data-da11y-id'); // Used as a selector to scope changes to current module.

				// Reset all tab controls to be aria-selected="false" & aria-expanded="false".
				$('[data-da11y-id="' + namespace + '"] .et_pb_tabs_controls a')
					.attr('aria-selected', 'false')
					.attr('aria-expanded', 'false')
					.attr('tabindex', -1);

				// Make active tab control aria-selected="true" & aria-expanded="true".
				$(this)
					.attr('aria-selected', 'true')
					.attr('aria-expanded', 'true')
					.attr('tabindex', 0);

				// Reset all tabs to be aria-hidden="true".
				$('#' + namespace + ' .et_pb_tab')
					.attr('aria-hidden', 'true');

				// Label active tab panel as aria-hidden="false".
				$('[aria-labelledby="' + id + '"]')
					.attr('aria-hidden', 'false');
			});

			// Arrow navigation for tab modules
			$('.et_pb_tabs_controls a').keyup(function (e) {
				var namespace = $(this).closest('.et_pb_tabs').attr('data-da11y-id');
				var module = $('[data-da11y-id="' + namespace + '"]');

				if (e.which === 39) { // Right.
					var next = module.find('li.et_pb_tab_active').next();

					if (next.length > 0) {
						next.find('a').trigger('click');
					} else {
						module.find('li:first a').trigger('click');
					}
				} else if (e.which === 37) { // Left.
					var next = module.find('li.et_pb_tab_active').prev();

					if (next.length > 0) {
						next.find('a').trigger('click');
					} else {
						module.find('li:last a').trigger('click');
					}
				}

				$('.et_pb_tabs_controls a').removeClass('keyboard-outline');
				module.find('li.et_pb_tab_active a').addClass('keyboard-outline');
			});

			/**
			 * Add unique ID to search module.
			 * Need to use data attribute because a regular ID somehow interferes with Divi.
			 *
			 * @divi-module  Search
			 */
			$('.et_pb_search').each(function (e) {
				$(this).attr('data-da11y-id', 'et_pb_search_module_' + e);
			});

			/**
			 * Add aria-required="true" to inputs.
			 *
			 * @divi-module  Contact Form
			 */
			$('[data-required_mark="required"]').each(function () {
				$(this).attr('aria-required', 'true');
			});

			/**
			 * Hide hidden error field on contact form.
			 *
			 * @divi-module  Contact Form
			 */
			$('.et_pb_contactform_validate_field').attr('type', 'hidden');

			/**
			 * Add alert role to error or success contact form message
			 *
			 * @divi-module  Contact Form
			 */
			$('.et-pb-contact-message').attr('role', 'alert');

			/**
			* Add main role to main-content
			*/
			$('#main-content').attr('role', 'main');

			/**
			 * Add aria-label="x".
			 *
			 * @divi-module  Fullwidth header, comment-wrap
			 */
			$('.et_pb_fullwidth_header').each(function (e) {
				$(this).attr('aria-label', 'Wide Header' + e);
			});
			$('#comment-wrap').attr('aria-label', 'Comments');
		});
	})(jQuery);
	</script>


	<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {

			/**
			 * Add aria-hidden="true" to all icons
			 */
			$('#et_top_search, .et_close_search_field, .et_pb_main_blurb_image').attr('aria-hidden', 'true');
		});
	})(jQuery);
	</script>

<div id="cookie-law-info-bar" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: inherit; bottom: 0px; position: fixed; display: block;"><span>This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish. <a class="cli_settings_button" style="margin: 5px 20px; color: rgb(6, 130, 147);">Cookie settings</a><a data-cli_action="accept" id="cookie_action_close_header" class="medium cli-plugin-button cli-plugin-main-button cookie_action_close_header cli_action_button" style="display: inline-block; margin: 5px; color: rgb(255, 255, 255); background-color: rgb(6, 130, 147);">ACCEPT</a></span></div><div id="cookie-law-info-again" style="display: none; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); position: fixed; font-family: inherit; width: auto; bottom: 0px; right: 100px;"><span id="cookie_hdr_showagain">Privacy &amp; Cookies Policy</span></div><div class="cli-modal" id="cliSettingsPopup" tabindex="-1" role="dialog" aria-labelledby="cliSettingsPopup" aria-hidden="true">
  <div class="cli-modal-dialog" role="document">
    <div class="cli-modal-content cli-bar-popup">
      <button type="button" class="cli-modal-close" id="cliModalClose">
        <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path><path d="M0 0h24v24h-24z" fill="none"></path></svg>
      </button>
      <div class="cli-modal-body">
        <div class="cli-container-fluid cli-tab-container">
    <div class="cli-row">
        <div class="cli-col-12 cli-align-items-stretch cli-px-0">
            <div class="cli-privacy-overview">
                <h4>Privacy Overview</h4>                                   
                <div class="cli-privacy-content">
                    <div class="cli-privacy-content-text">This website uses cookies to improve your experience while you navigate through the website. Out of these cookies, the cookies that are categorized as necessary are stored on your browser as they are essential for the working of basic...</div>
                </div>
                <a class="cli-privacy-readmore" data-readmore-text="Show more" data-readless-text="Show less"></a>            </div>
        </div>  
        <div class="cli-col-12 cli-align-items-stretch cli-px-0 cli-tab-section-container">
            <div class="cli-tab-section cli-privacy-tab">
                <div class="cli-tab-header">
                    <a class="cli-nav-link cli-settings-mobile">
                        Privacy Overview                    </a>
                </div>
                <div class="cli-tab-content">
                    <div class="cli-tab-pane cli-fade">
                        <p>This website uses cookies to improve your experience while you navigate through the website. Out of these cookies, the cookies that are categorized as necessary are stored on your browser as they are essential for the working of basic functionalities of the website. We also use third-party cookies that help us analyze and understand how you use this website. These cookies will be stored in your browser only with your consent. You also have the option to opt-out of these cookies. But opting out of some of these cookies may have an effect on your browsing experience.</p>
                    </div>
                </div>

            </div>
              
                            <div class="cli-tab-section">
                    <div class="cli-tab-header">
                        <a class="cli-nav-link cli-settings-mobile" data-target="necessary" data-toggle="cli-toggle-tab">
                            Necessary 
                        </a>
                    
                    <span class="cli-necessary-caption">Always Enabled</span>                     </div>
                    <div class="cli-tab-content">
                        <div class="cli-tab-pane cli-fade" data-id="necessary">
                            <p>Necessary cookies are absolutely essential for the website to function properly. This category only includes cookies that ensures basic functionalities and security features of the website. These cookies do not store any personal information.</p>
                        </div>
                    </div>
                </div>
              
                            <div class="cli-tab-section">
                    <div class="cli-tab-header">
                        <a class="cli-nav-link cli-settings-mobile" data-target="non-necessary" data-toggle="cli-toggle-tab">
                            Non-necessary 
                        </a>
                    <div class="cli-switch">
                        <input type="checkbox" id="checkbox-non-necessary" class="cli-user-preference-checkbox" data-id="checkbox-non-necessary" checked="">
                        <label for="checkbox-non-necessary" class="cli-slider" data-cli-enable="Enabled" data-cli-disable="Disabled">Non-necessary</label>
                    </div>                    </div>
                    <div class="cli-tab-content">
                        <div class="cli-tab-pane cli-fade" data-id="non-necessary">
                            <p>Any cookies that may not be particularly necessary for the website to function and is used specifically to collect user personal data via analytics, ads, other embedded contents are termed as non-necessary cookies. It is mandatory to procure user consent prior to running these cookies on your website.</p>
                        </div>
                    </div>
                </div>
                       
        </div>
    </div> 
</div> 
      </div>
    </div>
  </div>
</div>
<div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
<div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
<script type="text/javascript">
  /* <![CDATA[ */
  cli_cookiebar_settings='{"animate_speed_hide":"500","animate_speed_show":"500","background":"#FFF","border":"#b1a6a6c2","border_on":false,"button_1_button_colour":"#068293","button_1_button_hover":"#056876","button_1_link_colour":"#fff","button_1_as_button":true,"button_1_new_win":false,"button_2_button_colour":"#333","button_2_button_hover":"#292929","button_2_link_colour":"#068293","button_2_as_button":false,"button_2_hidebar":false,"button_3_button_colour":"#000","button_3_button_hover":"#000000","button_3_link_colour":"#fff","button_3_as_button":true,"button_3_new_win":false,"button_4_button_colour":"#000","button_4_button_hover":"#000000","button_4_link_colour":"#068293","button_4_as_button":false,"font_family":"inherit","header_fix":false,"notify_animate_hide":true,"notify_animate_show":false,"notify_div_id":"#cookie-law-info-bar","notify_position_horizontal":"right","notify_position_vertical":"bottom","scroll_close":false,"scroll_close_reload":false,"accept_close_reload":false,"reject_close_reload":false,"showagain_tab":false,"showagain_background":"#fff","showagain_border":"#000","showagain_div_id":"#cookie-law-info-again","showagain_x_position":"100px","text":"#000","show_once_yn":false,"show_once":"10000","logging_on":false,"as_popup":false,"popup_overlay":true,"bar_heading_text":"","cookie_bar_as":"banner","popup_showagain_position":"bottom-right","widget_position":"left"}';
  /* ]]> */
</script><script src="https://skillshub.online/wp-content/plugins/Divi-Ultimate-Header-Plugin/js/jquery.sticky.min.js?ver=3.0.0.9"></script><script src="https://skillshub.online/wp-content/plugins/Divi-Ultimate-Header-Plugin/js/jquery.vertical-navigation.min.js?ver=3.0.0.9"></script>    <!-- Above the header -->
    
    <!-- Below the header -->
    
    <!-- Footer -->
    
    
    
    <!-- Push new widget areas into place -->
    <script>
        jQuery(function($){
            // Above header - Added inside #main-header wrap
            $("#main-header").prepend($("#pbe-above-header-wa-wrap"));
            $("#pbe-above-header-wa-wrap").show();
            // Below header - Added inside #main-header wrap
            $("#main-header").append($("#pbe-below-header-wa-wrap"));
            $("#pbe-below-header-wa-wrap").show();
            // Footer - Added before #main-footer
            $("#main-footer").before($("#pbe-footer-wa-wrap"));
            $("#pbe-below-header-wa-wrap").show();
            // Above Content - Added before #main-content
            $("#main-content").prepend($("#pbe-above-content-wa-wrap"));
            $("#pbe-above-content-wa-wrap").show();
            // Below Content - Added after #main-content
            $("#main-content").append($("#pbe-below-content-wa-wrap"));
            $("#pbe-below-content-wa-wrap").show();
        });
    </script>
			    <script type="text/javascript">
					var ds_pbe_layouts = [{"text":"Call to action eligibility strip blue","value":"51903"},{"text":"logout button","value":"51776"},{"text":"Logo out blue box","value":"51759"},{"text":"Privacy links for form pages","value":"51743"},{"text":"Check eligibilty sign in box","value":"51734"},{"text":"Log out uber blue","value":"51726"},{"text":"Log out button","value":"51724"},{"text":"success_image_block1","value":"51714"},{"text":"success_image_block","value":"51712"},{"text":"Uber copyright line","value":"51539"},{"text":"404 page","value":"51508"},{"text":"OU courses CTA box","value":"51471"},{"text":"Uber sign in button","value":"51456"},{"text":"Study slider test 2","value":"51344"},{"text":"Slider test1","value":"51343"},{"text":"OU Study courses test","value":"51341"},{"text":"OU study courses Page builder anywhere 1","value":"51337"},{"text":"Course slider anywhere","value":"51336"},{"text":"privacy links","value":"51257"},{"text":"Footer_Main","value":"50539"},{"text":"Privacy text","value":"50370"},{"text":"Register form","value":"50369"},{"text":"sorry not eligible","value":"50368"},{"text":"Openlearn description sorry","value":"50343"},{"text":"Sorry message","value":"50342"},{"text":"Register form","value":"50330"},{"text":"Sign in template","value":"50201"},{"text":"CTA car","value":"50193"},{"text":"Bottom image eligibility","value":"50132"},{"text":"Bottom footer eligibility screens","value":"50129"},{"text":"Form template area","value":"50107"},{"text":"Blue button","value":"50064"},{"text":"Header & Navigation Style 12","value":"49682"},{"text":"Header & Navigation Style 11","value":"49185"},{"text":"Custom Mobile Menu","value":"46919"},{"text":"Header & Navigation Style 10","value":"46406"},{"text":"Header & Navigation Style 9","value":"46333"},{"text":"Header & Navigation Style 8","value":"46143"},{"text":"Header & Navigation Style 7","value":"46088"},{"text":"Header & Navigation Style 6","value":"45947"},{"text":"Hide Header & Footer on Visual Builder","value":"44979"},{"text":"Header & Navigation Style 5","value":"43397"},{"text":"Header & Navigation Style 4","value":"42742"},{"text":"Header & Navigation Style 3","value":"42736"},{"text":"Header & Navigation Style 2","value":"42618"},{"text":"Header & Navigation Style 1","value":"42370"}];
				</script>
				<script type="text/javascript">
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/skillshub.online\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.6"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LeFqr0UAAAAAK5_7HwR_Io1-FYYKNt6tbUXeVVn&amp;ver=3.0"></script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/monarch/js/idle-timer.min.js?ver=1.4.12"></script>
<script type="text/javascript">
/* <![CDATA[ */
var monarchSettings = {"ajaxurl":"https:\/\/skillshub.online\/wp-admin\/admin-ajax.php","pageurl":"https:\/\/skillshub.online\/","stats_nonce":"bebf622269","share_counts":"49b7779ed5","follow_counts":"a150497c0d","total_counts":"9a53fa8bf9","media_single":"b4d1282a3b","media_total":"78502d9a54","generate_all_window_nonce":"10c2a7c159","no_img_message":"No images available for sharing on this page"};
/* ]]> */
</script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/monarch/js/custom.js?ver=1.4.12"></script>
<script type="text/javascript">
/* <![CDATA[ */
var DIVI = {"item_count":"%d Item","items_count":"%d Items"};
var et_shortcodes_strings = {"previous":"Previous","next":"Next"};
var et_pb_custom = {"ajaxurl":"https:\/\/skillshub.online\/wp-admin\/admin-ajax.php","images_uri":"https:\/\/skillshub.online\/wp-content\/themes\/Divi\/images","builder_images_uri":"https:\/\/skillshub.online\/wp-content\/themes\/Divi\/includes\/builder\/images","et_frontend_nonce":"5f411fa97b","subscription_failed":"Please, check the fields below to make sure you entered the correct information.","et_ab_log_nonce":"640ad379eb","fill_message":"Please, fill in the following fields:","contact_error_message":"Please, fix the following errors:","invalid":"Invalid email","captcha":"Captcha","prev":"Prev","previous":"Previous","next":"Next","wrong_captcha":"You entered the wrong number in captcha.","ignore_waypoints":"no","is_divi_theme_used":"1","widget_search_selector":".widget_search","ab_tests":[],"is_ab_testing_active":"","page_id":"50379","unique_test_id":"","ab_bounce_rate":"5","is_cache_plugin_active":"no","is_shortcode_tracking":"","tinymce_uri":""}; var et_frontend_scripts = {"builderCssContainerPrefix":"#et-boc","builderCssLayoutPrefix":"#et-boc .et-l"};
var et_pb_box_shadow_elements = [];
/* ]]> */
</script>
<script type="text/javascript" src="https://skillshub.online/wp-content/themes/Divi/js/custom.min.js?ver=4.0.6"></script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/cf7-styler-for-divi/scripts/frontend-bundle.min.js?ver=1.0.0"></script>
<script type="text/javascript" src="https://skillshub.online/wp-content/themes/Divi/core/admin/js/common.js?ver=4.0.6"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wpcf7cf_global_settings = {"ajaxurl":"https:\/\/skillshub.online\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/cf7-conditional-fields/js/scripts.js?ver=1.7.8"></script>
<script type="text/javascript" src="https://skillshub.online/wp-content/plugins/Divi-Ultimate-Header-Plugin/js/main.js?ver=3.0.0.9"></script>
<script type="text/javascript" src="https://skillshub.online/wp-includes/js/wp-embed.min.js?ver=5.3"></script>
<script type="text/javascript">
( function( grecaptcha, sitekey, actions ) {

	var wpcf7recaptcha = {

		execute: function( action ) {
			grecaptcha.execute(
				sitekey,
				{ action: action }
			).then( function( token ) {
				var forms = document.getElementsByTagName( 'form' );

				for ( var i = 0; i < forms.length; i++ ) {
					var fields = forms[ i ].getElementsByTagName( 'input' );

					for ( var j = 0; j < fields.length; j++ ) {
						var field = fields[ j ];

						if ( 'g-recaptcha-response' === field.getAttribute( 'name' ) ) {
							field.setAttribute( 'value', token );
							break;
						}
					}
				}
			} );
		},

		executeOnHomepage: function() {
			wpcf7recaptcha.execute( actions[ 'homepage' ] );
		},

		executeOnContactform: function() {
			wpcf7recaptcha.execute( actions[ 'contactform' ] );
		},

	};

	grecaptcha.ready(
		wpcf7recaptcha.executeOnHomepage
	);

	document.addEventListener( 'change',
		wpcf7recaptcha.executeOnContactform, false
	);

	document.addEventListener( 'wpcf7submit',
		wpcf7recaptcha.executeOnHomepage, false
	);

} )(
	grecaptcha,
	'6LeFqr0UAAAAAK5_7HwR_Io1-FYYKNt6tbUXeVVn',
	{"homepage":"homepage","contactform":"contactform"}
);
</script>


</body></html>