
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 50px 0;
}

.text-yellow{
  color: yellow;
  display: inline-block;
}
.font-18, .font-20 {
  font-size: 16px;
} 
.font-24{
  font-size: 21px;
}
.font-27{
  font-size:22px;
}
.font-28{
  font-size: 23px;
}
.font-50, .font-56{
  font-size: 37px;
}

@media (min-width: 992px) {
  
  .font-18{
    font-size: 18px;
    font-weight:400;
}
  .font-20{
      font-size: 20px;
      font-weight:700;
  }
  .font-22{
      font-size: 22px;
      font-weight:500;
  }
  .font-24{
      font-size: 24px;
      font-weight:500;
  }

  .font-27{
      font-size: 27.5px;
      font-weight:500;
  }
  .font-28{
      font-size: 28px;
      font-weight:700;
  }
  .font-50{
    font-size: 50px;
    font-weight:500;
  }
  .font-56{
      font-size: 56px;
      font-weight:700;
  }
}
 

header.masthead {
  position: relative;
  width: 100%;
  min-height: 775px;
  padding-top: 20px;
  padding-bottom: 0;
  color: white;
  background: url("imgs/mobile/background-img.png");
}

header.masthead .header-content {
  max-width: 400px;
  margin-bottom: 40px;
  text-align: left;
}

div.header-content.mx-auto {
  margin-left:initial !important;
}

header.masthead .device-container {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}


.form-bkgrd {
  background-color: white;
  box-shadow: 0px 0 30px 0 rgba(0,0,0,1);
  color: #000;
  padding: 30px;
 
  
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    background: url("imgs/background-img.png")!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }

  header.masthead .header-content {
    margin-bottom: 0;
    max-width: 500px;
  }
 
  header.masthead .device-container {
    max-width: 400px;
  }
  div.header-content.mx-auto {
    margin-left:initial !important;
  }
}

 
section.midsection .section-heading {
  margin-bottom: 50px;
}

section.midsection .device-container,
section.midsection .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.midsection .device-container {
  margin-bottom: 50px;
}

section.midsection .feature-item {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}


@media (min-width: 992px) {
  section.midsection .device-container {
    margin-bottom: 0;
  }
}


section.bottomsection {
  padding-top:120px;
}
section.bottomsection {
  position: relative;
  background-image: url('imgs/mobile/bottom-section-background.png');
  min-height:300px;
  background-position: center top;
  background-size: cover;
}


section.bottomsection .device-container,
section.bottomsection .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.bottomsection .device-container {
  margin-bottom: 50px;
}

section.bottomsection .feature-item {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}



@media (min-width: 992px) {
  section.bottomsection{
    padding:10px;
  }
  section.bottomsection .device-container {
    margin-bottom: 0;
  }
  section.bottomsection {
    position: relative;
    background-image: url('imgs/bottom-section-background.png');
    min-height:300px;
    background-position: center top;
    background-size: cover;
  }
}



footer {
  padding: 25px 0;
  text-align: center;
  background-color: black;
}


footer ul {
  margin-bottom: 0;
}

.list-inline{
  display:grid !important;
}


 
@media (min-width: 992px) {
  .list-inline{
    display:block !important;
  }
}


.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  background: #F1584A;
  color: #fff;
  border-radius: 50px 50px;
  padding-right: 20px;
  padding-left: 20px;
  text-align:center;
  width: 250px;
}

 
