      nav{
          height: 100px;
      }
      #slider{
        width: 100%;

        height: 100%;
      }
      .carousel-inner img { 
          width: 100%;
          height: 100%;
      }
      .carousel-indicators li {
          width:12px;
          height:12px;
          border-radius:50%;
      }
      .owl-prev, .owl-next {
        position: absolute;
        top: 0;
        height: 100%;
    }
    
    .owl-carousel .owl-prev {
        left: -10px;
      }
      .owl-carousel .owl-next {
        right: -10px;
      }
           
      #hero{
        background-image: linear-gradient(181deg,rgba(0,0,0,0) 33%,rgba(0,0,0,0.76) 70%),url(https://skillshub.online/wp-content/uploads/2019/09/UberOU_HeroImage1.jpg);
 
        height: 100vh;
        background-position: center;
        -webkit-background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: 100%;
        -moz-background-size: cover;
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .hero-text{
          display:flex;
          align-items: center;
          justify-content: center;
      }
      #leadgen{
          display:flex;
          align-items: center;
          justify-content: center;
          margin-top: -70px;
       }
       #leadgen .card{
           width:60%;
           box-shadow: rgba(0, 0, 0, 2) 0px 10px 51px 3px;
           border:0px;
       }

       #leadgen .card .card-header{
           padding:40px 10%;
       }
       .form-group {
           margin-bottom: 0.62rem;
        }

        .content{
            color:black;
        }
        .content h1 {
            box-shadow: 0 0 0 10px rgb(8,132,147);
            background-color: hsl(187,90%,31%);
            display: inline;
            color: white; 
            padding-left: 0;
            padding-right: 0;
            -webkit-box-decoration-break: clone;
            -ms-box-decoration-break: clone;
            -o-box-decoration-break: clone;
            box-decoration-break: clone;
            line-height: 1.6;           
        }
        /* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 60px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #1bb1dc;
}

        /* Frequently Asked Questions Section
--------------------------------*/

        #faq {
        padding: 60px 0;
        overflow: hidden;
        }

        #faq #faq-list {
        padding: 0;
        list-style: none;
        }

        #faq #faq-list li {
        border-bottom: 1px solid #ebebeb;
        }

        #faq #faq-list a {
        padding: 22px 0;
        display: block;
        position: relative;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        padding-right: 20px;
        color: #1bb1dc;
        text-decoration: none;
        }

        #faq #faq-list i {
        font-size: 36px;
        position: absolute;
        right: 0;
        top: 20px;
        color: #1bb1dc;
        }

        #faq #faq-list p {
        margin-bottom: 20px;
        }

        #faq #faq-list a.collapse {
        color: #1bb1dc;
        }

        #faq #faq-list a.collapsed {
        color: #000;
        }

        #faq #faq-list a.collapsed i::before {
        content: "\f101" !important;
        }
        /* Clients Section */
        #clients {
        padding: 60px 0;
        }

        #clients img {
        max-width: 80%;
        opacity: 0.5;
        transition: 0.3s;
        padding: 15px 0;
        }

        #clients img:hover {
        opacity: 1;
        }

        #clients .owl-nav,
        #clients .owl-dots {
        margin-top: 5px;
        text-align: center;
        }

        #clients .owl-dot {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ddd;
        }

        #clients .owl-dot.active {
        background-color: #1bb1dc;
        }

        .section-header h3 {
            font-size: 36px;
            color: #413e66;
            text-align: center;
            font-weight: 700;
            position: relative;
            font-family: "Montserrat", sans-serif;
            padding-bottom:40px;
        }
        .section-header p {
            text-align: center;
            margin: auto;
            font-size: 15px;
            padding-bottom: 60px;
            color: #535074;
            width: 50%;
        }
        /* Clients Section */
        #services {
        padding: 60px 0 40px 0;
        }
        #services .card{
  
           border:0px;
           padding:20px 0 0px 0;
       }
        #services .card-body{
            padding-bottom:60px;
        }

        #contact .btn-primary {
            color: #fff;
            background-color: maroon;
            border-color: maroon;
            width: 120px;
            border-radius: 25px;          
        }

        #contact img{
            margin-bottom:-70px;
            margin-left: -55px;
        }
      
        footer{
            height:140px;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
